html {overflow-y: scroll;}
body {background: #333;}
.download {float: right; margin-top: 4px;}
.site-footer {background: #333; min-height: 100px; padding: 20px 0;}
.main {background: #fcfcfc url(/img/bg_content.svg) center top no-repeat; background-attachment: fixed; padding: 60px 0 80px;}
h1 {font-size: 33px; margin-top: 0; padding-top: 50px;}
.post-header h1 {padding-top: 0;}
.post-header {padding-top: 50px;}
h2 {font-size: 25px; margin-top: 0; padding-top: 50px;}
h3 {font-size: 17px; margin: 0; padding: 20px 0 3px;}
h3.post-meta {padding: 0;}
.navbar-brand>img {
    display: inline;
    position: relative;
    vertical-align: top;
    bottom: 7px;
}
article.page {padding-top: 0px;}
img {display: block; max-width: 100%;}
img.poweredby {cursor: pointer; display: inline-block; height: 100px; margin-right: 10px; margin-left: -8px; opacity: 0.35;}
.site-footer a {color: #777777;}
.site-footer h3 {color: silver;}
#breadcrumbs, #breadcrumbs a {color: silver;}
ul, ol {margin-bottom: 18px;}
pre, p {margin: 0 0 18px;}

.form-control {height: 37px;}

.image-gallery a img{
-webkit-filter: grayscale(100%);
filter: grayscale(100%);
-webkit-transition: all .3s ease;
-moz-transition: all .3s ease;
-o-transition: all .3s ease;
-ms-transition: all .3s ease;
transition: all .3s ease;
}
.image-gallery a:hover img{-webkit-filter: grayscale(0%); filter: grayscale(0%);}