<table class="cart table">
    <thead>
        <tr><th></th><th>Quantity</th><th>Price</th></tr>
    </thead>
    <tbody>
    </tbody>
</table>

<div style="text-align: right;"><a href="/donate" class="btn btn-secondary" style="border-color: transparent!important; text-decoration: underline!important;">Continue shopping</a> &nbsp;&nbsp; <a href="/checkout" class="btn btn-primary">Proceed to checkout</a></div>

<div style="margin-top: 50px; position: relative; top: 30px;">
    <ul id="checkout_progress">
        <li class="current"><span><a href="#">Shopping cart</a></span></li><li><span><span>Checkout</span></span></li><li><span><span>Payment</span></span></li>
    </ul>
</div>   