{% if page.commentIssueId %}
<script type="text/javascript">
    $(".post-content").append("<div id='comments'><h3>Comments</h3><p>You can leave a comment on this pages on GitHub. <a href='https://github.com/{{ site.github_account }}/issues/{{page.commentIssueId}}'>Leave a comment.</a></p></div>");
    function loadComments(data) {
        for (var i=0; i<data.length; i++) {
            var cuser = data[i].user.login;
            var cuserlink = "https://www.github.com/" + data[i].user.login;
            var clink = "https://github.com/{{ site.github_account }}/issues/{{page.commentIssueId}}#issuecomment-" + data[i].url.substring(data[i].url.lastIndexOf("/")+1);
            var cbody = data[i].body_html;
            var cavatarlink = data[i].user.avatar_url;
            var cdate = data[i].created_at;
            $("#comments").append("<div class='comment'><div class='commentgravatar'>" + '<img src="' + cavatarlink + '" alt="' + cuser + '">' + "</div><div class='commentheader'><a class='commentuser' href=\""+ cuserlink + "\">" + cuser + "</a> commented <a class='commentdate' href=\"" + clink + "\">on " + cdate.substring(0, 10) + "</a></div><div class='commentbody'>" + cbody + "</div></div>");
        }
    }
    var data = localStorage.getItem('comments_{{ site.github_account }}_{{page.commentIssueId}}');
    if(data) {
        loadComments(JSON.parse(data));
    } else {
        $.ajax("https://api.github.com/repos/{{ site.github_account }}/issues/{{page.commentIssueId}}/comments?per_page=10", {
            headers: {Accept: "application/vnd.github.full+json"},
            dataType: "json",
            success: function(msg){
                localStorage.setItem('comments_{{ site.github_account }}_{{page.commentIssueId}}',JSON.stringify(msg));
                console.log(JSON.stringify(msg));
                loadComments(msg);
            }
        });
    }


</script>
<style>
.comment {margin-bottom: 20px;}
.comment P:last-child {margin-bottom: 0;}
.commentgravatar {position: absolute; width: 40px; border: 1px solid #e5e5e5;}
.commentheader, .commentbody {padding: 5px 10px; margin-left: 55px; border: 1px solid #e5e5e5; background: white;}
.commentheader {position: relative; background: #f4f4f4; border-bottom: 0;}
.commentbody {padding: 10px 10px 13px;}
.commentheader a {color: #777777;}
.commentheader::before {
    position: absolute;
    content: "";
    display: block;
    width: 9px;
    height: 9px;
    background: #f4f4f4;
    transform: rotate(-45deg);
    left: 0;
    margin-left: -4px;
    margin-top: 4px;
    box-shadow: -1px -1px 0px 0px rgba(0, 0, 0, 0.15);
}
</style>
{% endif %}