<style>
    #cookie-notice {padding: 7px 0; display: none; text-align: center; position: fixed; bottom: 0; width: 100%; background: #222; color: white;}
    #cookie-notice a {cursor: pointer; margin-left: 10px;}
</style>
<div id="cookie-notice">We want to place third party cookies and load third party code to improve the functionality of this website. <a id="cookie-notice-accept" class="btn btn-primary btn-sm">OK</a> <a href="/privacy" class="btn btn-primary btn-sm">More info</a></div>
<script>
    if(typeof createCookie != 'function'){
        function createCookie(name,value,days) {
            var expires = "";
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days*24*60*60*1000));
                expires = "; expires=" + date.toUTCString();
            }
            document.cookie = name + "=" + value + expires + "; path=/";
        }
    }
    if(typeof readCookie != 'function'){
        function readCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for(var i=0;i < ca.length;i++) {
                var c = ca[i];
                while (c.charAt(0)==' ') c = c.substring(1,c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
            }
            return null;
        }
    }
    if(typeof createCookie != 'function'){
        function eraseCookie(name) {
            createCookie(name,"",-1);
        }
    }
    if(readCookie('cookie-notice-dismissed')=='true') {
        {% include ga.js %}
        {% include chatbutton.js %}
    } else {
        $('#cookie-notice').show();
    }
    $('#cookie-notice-accept').click(function() {
        createCookie('cookie-notice-dismissed','true',31);
        $('#cookie-notice').hide();
    });

</script>