<style>
    .radio, .checkbox {position: relative; bottom: 8px;}
    .rowradio + .rowradio .radio {margin-top: 0px;}
    input[type="checkbox"], input[type="radio"] {position: relative; bottom: 1px;}
    input[type='number'] {-moz-appearance: textfield;}
    input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {-webkit-appearance: none;}
    select.form-control {-webkit-appearance: none; -moz-appearance: none; appearance: none; background: url("/img/chevron_down.svg") calc(100% - 17px) 60% no-repeat; background-size: auto 11px;}
    select.form-control::-ms-expand {display: none;}
</style>
{% assign includenumber = include.number | plus: 0 %}
{% if page.form.form_engine == 'cloudcannon' %}
    <form id="{{ page.url | slugify }}" class="form autofill" method="POST" action="{{ page.form.redirect }}">
        <input type="hidden" name="_to" value="{{ page.form.to }}">
{% elsif page.form.form_engine == 'formspree' %}
    <form id="{{ page.url | slugify }}" class="form autofill" method="POST" action="https://formspree.io/{{ page.form.to }}">
        <input type="hidden" name="_next" value="{{ site.url }}{{ page.form.redirect }}" />
{% elsif page.form.form_engine == 'formbucket' %}
    <form id="{{ page.url | slugify }}" class="form autofill" method="POST" action="{{ page.form.to }}">
{% endif %}

    <input type="text" name="_gotcha" style="display:none" />
    <input type="hidden" name="_subject" value="{{ page.form.subject }}" />

    {% for item in page.form.fields %}
        {% if item.required %}{% assign requiredstar = '*' %}{% else %}{% assign requiredstar = '' %}{% endif %}
        {% if item.required %}{% assign requiredtext = 'required' %}{% else %}{% assign requiredtext = '' %}{% endif %}

        {% if item.input_type == 'textarea' %}
        <div class="row form-group">
            <div class="col-sm-12">
                <label {% if page.form.placeholders == true %}class="sr-only"{% endif %} for="{{ item.name }}">{{ item.placeholder }}{{ requiredstar }}</label>
                <textarea name="{{ item.name }}" name="{{ item.name }}" id="{{ item.name }}" cols="30" rows="10" class="form-control" {% if page.form.placeholders == true %}placeholder="{{ item.placeholder }}{{ requiredstar }}"{% endif %} {{ requiredtext }}></textarea>
            </div>
        </div>
        {% elsif item.input_type == 'radio' %}
        <div class="row rowradio">
            <div class="col-sm-12">
                <div class="radio">
                    <label><input type="radio" name="{{ item.name }}" value="{{ item.placeholder }}" {{ requiredtext }}>{{ item.placeholder }}</label>
                </div>
            </div>
        </div>
        {% elsif item.input_type == 'checkbox' %}
        <div class="row rowcheckbox">
            <div class="col-sm-12">
                <div class="checkbox">
                    <label><input type="checkbox" name="{{ item.name }}" value="{{ item.placeholder }}" {{ requiredtext }}>{{ item.placeholder }}</label>
                </div>
            </div>
        </div>
        {% elsif item.input_type == 'html' %}
        {{ item.placeholder }}
        {% elsif item.input_type == 'submit' %}
        <div class="form-group">
            <input type="{{ item.input_type }}" value="{{ item.placeholder }}" class="btn btn-primary" />
        </div>

        {% else %}
            {% if item.name == 'name' %}
                <div class="row form-group">
                    <div class="col-sm-6">
                        <label {% if page.form.placeholders == true %}class="sr-only"{% endif %} for="firstname">First name{{ requiredstar }}</label>
                        <input type="{{ item.input_type }}" name="firstname" id="firstname" class="form-control" {% if page.form.placeholders == true %}placeholder="First name{{ requiredstar }}"{% endif %} {{ requiredtext }}>
                    </div>
                    <div class="col-sm-6">
                        <label {% if page.form.placeholders == true %}class="sr-only"{% endif %} for="lastname">Last name{{ requiredstar }}</label>
                        <input type="{{ item.input_type }}" name="lastname" id="lastname" class="form-control" {% if page.form.placeholders == true %}placeholder="Last name{{ requiredstar }}"{% endif %} {{ requiredtext }}>
                    </div>
                </div>
            {% elsif item.name == 'address' %}
                <div class="row form-group">
                    <div class="col-sm-12">
                        <label {% if page.form.placeholders == true %}class="sr-only"{% endif %} for="address">Address{{ requiredstar }}</label>
                        <input type="{{ item.input_type }}" name="address" id="address" class="form-control" {% if page.form.placeholders == true %}placeholder="Address{{ requiredstar }}"{% endif %} {{ requiredtext }}>
                    </div>
                </div>
                <div class="row form-group">
                        <div class="col-sm-6">
                            <label {% if page.form.placeholders == true %}class="sr-only"{% endif %} for="city">City{{ requiredstar }}</label>
                            <input type="{{ item.input_type }}" name="city" id="city" class="form-control" {% if page.form.placeholders == true %}placeholder="City{{ requiredstar }}"{% endif %} {{ requiredtext }}>
                        </div>
                        <div class="col-sm-6">
                            <label {% if page.form.placeholders == true %}class="sr-only"{% endif %} for="postalcode">Postal code{{ requiredstar }}</label>
                            <input type="{{ item.input_type }}" name="postalcode" id="postalcode" class="form-control" {% if page.form.placeholders == true %}placeholder="Postal code{{ requiredstar }}"{% endif %} {{ requiredtext }}>
                        </div>
                </div>
            {% else %}
                <div class="row form-group">
                    <div class="col-sm-12">
                        <label {% if page.form.placeholders == true %}class="sr-only"{% endif %} for="{{ item.name }}">{{ item.placeholder }}{{ requiredstar }}</label>
                        <input type="{{ item.input_type }}" name="{{ item.name }}" id="{{ item.name }}" class="form-control" {% if page.form.placeholders == true %}placeholder="{{ item.placeholder }}{{ requiredstar }}"{% endif %} {{ requiredtext }}>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}

</form>