<style>
.lightbox {width: 100%; height: 100%; position: fixed; top: 0; left: 0; background: rgba(0,0,0,0.85); z-index: 9999999; line-height: 0; cursor: pointer;}
.lightbox img {
	position: relative; 
	top: 50%;
	left: 50%;
	-ms-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	max-width: 100%;
	max-height: 90%;
}
.lightbox .videoWrapperContainer {
	position: relative; 
	top: 50%;
	left: 50%;
	-ms-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	max-width: 900px;
	max-height: 90%;
}
.lightbox .videoWrapperContainer .videoWrapper {
	height: 0;
	line-height: 0;
	margin: 0;
	padding: 0;
	position: relative;
	padding-bottom: 56.333%; /* custom */
	background: black;
} 
.lightbox .videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
	display: block;
}   
</style>
		
<script>
function is_youtubelink(url) {
  var p = /^(?:https?:\/\/)?(?:www\.)?(?:youtu\.be\/|youtube\.com\/(?:embed\/|v\/|watch\?v=|watch\?.+&v=))((\w|-){11})(?:\S+)?$/;
  return (url.match(p)) ? RegExp.$1 : false;
}
function is_imagelink(url) {
	var p = /([a-z\-_0-9\/\:\.]*\.(jpg|jpeg|png|gif))/i;
	return (url.match(p)) ? true : false;
}
function is_vimeolink(url,el) {
	var id = false;
	$.ajax({
	  url: 'https://vimeo.com/api/oembed.json?url='+url,
	  async: true,
	  success: function(response) {
		if(response.video_id) {
		  id = response.video_id;
		  $(el).addClass('lightbox-vimeo').attr('data-id',id);
		}
	  }
	});
}

$(document).ready(function() {
	//add classes to links to be able to initiate lightboxes
	$("a").each(function(){
		var url = $(this).attr('href');
		if(url.indexOf('vimeo') !== -1 && !$(this).hasClass('no-lightbox')) is_vimeolink(url,$(this));
		if(is_youtubelink(url) && !$(this).hasClass('no-lightbox')) $(this).addClass('lightbox-youtube').attr('data-id',is_youtubelink(url));
		if(is_imagelink(url) && !$(this).hasClass('no-lightbox')) $(this).addClass('lightbox-image');
	});
	//remove the clicked lightbox
	$("body").on("click", ".lightbox", function(){
		$(this).remove();
	});
	//add the youtube lightbox on click
	$("a.lightbox-youtube").click(function(event){
		event.preventDefault();
		$('<div class="lightbox"><div class="videoWrapperContainer"><div class="videoWrapper"><iframe src="https://www.youtube.com/embed/'+$(this).attr('data-id')+'?autoplay=1&showinfo=0&rel=0"></iframe></div></div></div>').appendTo('body');
	});
	//add the image lightbox on click
	$("a.lightbox-image").click(function(event){
		event.preventDefault();
		$('<div class="lightbox"><img src="'+$(this).attr('href')+'" /></div>').appendTo('body');
	});
	//add the vimeo lightbox on click
	$("body").on("click", "a.lightbox-vimeo", function(event){
		event.preventDefault();
		$('<div class="lightbox"><div class="videoWrapperContainer"><div class="videoWrapper"><iframe src="https://player.vimeo.com/video/'+$(this).attr('data-id')+'/?autoplay=1&byline=0&title=0&portrait=0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div></div></div>').appendTo('body');
	});

});
</script>