<script>
    $.fn.shuffle = function() {
        var allElems = this.get(),
            getRandom = function(max) {
                return Math.floor(Math.random() * max);
            },
            shuffled = $.map(allElems, function(){
                var random = getRandom(allElems.length),
                    randEl = $(allElems[random]).clone(true)[0];
                allElems.splice(random, 1);
                return randEl;
            });
        this.each(function(i){
            $(this).replaceWith($(shuffled[i]));
        });
        return $(shuffled);
    };
    $('.randomize').shuffle();
    $('.randomize:visible img').each(function() {
        if($(this).attr('data-src')) $(this).attr('src',$(this).attr('data-src'));
    });
    $('.randomize:visible *').each(function() {
        if($(this).attr('data-style')) $(this).attr('style',$(this).attr('data-style'));
    });
</script>