
<script src="https://unpkg.com/lunr/lunr.js"></script>

<script>
var documents = [{
    "name": "Lunr",
    "text": "Like Solr, but much smaller, and not as bright."
  }, {
    "name": "React",
    "text": "A JavaScript library for building user interfaces."
  }, {
    "name": "Lodash",
    "text": "A modern JavaScript utility library delivering modularity, performance & extras."
  }];

var idx = lunr(function () {
    this.ref('name')
    this.field('text')

    documents.forEach(function (doc) {
        this.add(doc)
    }, this)
});

function lunr_search(term) {
    if(term) {
        console.log(idx.search(term));
        //put results on the screen.
    }
    return false;
}

</script>


<form onSubmit="return lunr_search(document.getElementById('lunrsearch').value);">
    <input type="text" id="lunrsearch" name="q" maxlength="255" value="" placeholder="Search via Lunr.js" />
</form>