<ul class="nav navbar-nav">
    <li {% if page.url contains '/getting-started' %}class="active"{% endif %}><a href="/getting-started/">Getting started</a></li>
    <li {% if page.url contains '/without-plugin' %}class="active"{% endif %}><a href="/without-plugins/">Without plugins</a></li>
    <li {% if page.url contains '/blog' %}class="active"{% endif %}><a href="/blog/">Blog</a></li>
    <li {% if page.url contains '/search' %}class="active"{% endif %}><a href="/search/">Search</a></li>
    <li {% if page.url contains '/about' %}class="active"{% endif %}><a href="/about/">About</a></li>
</ul>