<script src="https://use.fontawesome.com/6ff7ecd58e.js"></script>
<style>
#not_sharethis:after {content: ""; display: block; clear: both;}
#not_sharethis > div {
    position: relative;
    right: 0;
    -webkit-transition: right 0.2s ease;                  
    -moz-transition: right 0.2s ease;                 
    -o-transition: right 0.2s ease;   
    -ms-transition: right 0.2s ease;          
    transition: right 0.2s ease;  
    line-height: 40px; 
}
#not_sharethis {position: fixed; top: 50%; height: 246px; margin-top: -123px; right: -50px; height: 164px; margin-top: -88px;}
#not_sharethis > div:hover {position: relative; right: 50px;}
#not_sharethis.post > div:hover {right: 0;}
#not_sharethis.post {position: relative; top: auto; height: auto; margin-top: 0; right: 0;}
#not_sharethis div {background: #dddddd; text-align: left; width: 90px; height: 40px; color: white; border-bottom: 1px solid rgba(255,255,255,0.25);}
#not_sharethis > div > div {background: transparent; font-size: 12px; line-height: 32px;  width: 40px; float: left; text-align: center;}
#not_sharethis.post div {float: left; width: 40px; border-bottom: 0; border-right: 1px solid rgba(255,255,255,0.25);}
#not_sharethis h3 {padding-top: 30px; font-family: 'PT Sans Narrow', sans-serif; font-weight: 700; font-size: 17px; text-transform: uppercase;}
#not_sharethis div:last-child{border-bottom: 0;}
#not_sharethis div:hover {cursor: pointer;}
#not_sharethis > div.facebook > div, #not_sharethis > div.pinterest > div {line-height: 35px;}
#not_sharethis div.facebook:hover {background: #3B5998;}
#not_sharethis div.twitter:hover {background: #55ACEE;}
#not_sharethis div.linkedin:hover {background: #0077b5;}
#not_sharethis div.pinterest:hover {background: #CB2027;}
#not_sharethis div.gplus:hover {background: #dd4b39;}
#not_sharethis div.mail:hover {background: #7D7D7D;}
#not_sharethis div.instagram:hover {background: #C73B92;}
#not_sharethis > div.instagram > div {line-height: 32px;}
</style>


<div id="not_sharethis" class="post">
    <div class="facebook"><div><i class="fa icon-facebook" onclick="window.open('http://www.facebook.com/share.php?u={{ site.url }}{{ page.url }}');"></i></div></div>
    <div class="twitter"><div><i class="fa icon-twitter" onclick="window.open('http://twitter.com/home?status={{ site.url }}{{ page.url }}');"></i></div></div>
    <div class="linkedin"><div><i class="fa icon-linkedin" onclick="window.open('https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title=&summary=&source=');"></i></div></div>
    {% if page.image %}<div class="pinterest"><div><i class="fa icon-pinterest" onclick="window.open('https://pinterest.com/pin/create/button/?url=&media={{ site.url }}{{ page.image }}&description=');"></i></div></div>{% endif %}
    <div class="gplus"><div><i class="fa icon-gplus" onclick="window.open('https://plus.google.com/share?url={{ site.url }}{{ page.url }}');"></i></div></div>
    <div class="mail"><div><i class="fa icon-mail-alt" style="font-size: 19px;" onclick="window.open('mailto:?&body={{ site.url }}{{ page.url }}');"></i></div></div>
</div>