<script>
function submitcheckout(event) {
    event.preventDefault();
    var price = $('#carttotal').val();
    $.ajax({
        url: "https://formspree.io/jhvanderschee@gmail.com",
        method: "POST",
        data: {message: "hello!"},
        dataType: "json",
        success: function(data) {
            window.location.href='{{ include.paymentlink }}/'+price+'/donation';
        }
    });
    return false;
}

var cart_array = [];
function updatecart() {
    if(readCookie('cartcookie')) cart_array = unescape(readCookie('cartcookie')).split(',');
    //toon cart_array
    var total = 0;
    for (var i=0; i<cart_array.length; i++) {
        var item_array = cart_array[i].split('|');
        $('tbody').append('<tr><td><img src="'+item_array[2]+'" /><span>'+item_array[0]+'<br />&euro; '+item_array[1]+'<br /><a href="#" class="">remove</a></span></td><td><input type="number" class="form-control" value="1" /></td><td>&euro; '+item_array[1]+'</td></tr>');
        total = parseFloat(total) + parseFloat(item_array[1]);
    }
    $('tbody').append('<tr><td colspan="3" class="carttotal">&euro; '+total.toFixed(2)+'</td></tr>');
    $('body').append('<input id="carttotal" type="hidden" value="'+total+'" />');
}


$('body').on('click', '.addtocart', function() {
    //voeg het item toe aan de cart
    cart_array.push($(this).attr('description')+'|'+$(this).attr('price')+'|'+$(this).attr('image'));
    eraseCookie('cartcookie');
    createCookie('cartcookie',escape(cart_array.join(',')),30);
    updatecart();
});


$( document ).ready(function() {
    updatecart();
});
</script>