<script>
function submitcheckout(event) {
    event.preventDefault();
    $.ajax({
        url: "https://formspree.io/jhvanderschee@gmail.com",
        method: "POST",
        data: {message: "hello!"},
        dataType: "json",
        success: function(data) {
            window.location.href='https://useplink.com/payment/ssMgtkddEzgC4rKKJJ9T/10/testorder';
        }
    });
    return false;
}
function updatevariant(el,productname) {
    var addtocart = $(el).val().split(' | ');
    $('#shoppingcartbutton').attr('price',addtocart[1]);
    $('.price').html("&euro; " + addtocart[1]);
    $('#shoppingcartbutton').attr('description',productname + ' ' + addtocart[0]);
}
</script>