<script>
function submitcheckout(event) {
    event.preventDefault();
    $.ajax({
        url: "https://formspree.io/jhvanderschee@gmail.com",
        method: "POST",
        data: {message: "hello!"},
        dataType: "json",
        success: function(data) {
            window.location.href='{{ include.paymentlink }}/10/donation';
        }
    });
    return false;
}

var cart_array = [];
function updatecart() {
    if(readCookie('cartcookie')) cart_array = unescape(readCookie('cartcookie')).split(',');
    //toon cart_array
}


$('body').on('click', '.addtocart', function() {
    //voeg het item toe aan de cart
    cart_array.push($(this).attr('description'));
    eraseCookie('cartcookie');
    createCookie('cartcookie',escape(cart_array.join(',')),30);
    updatecart();
});


$( document ).ready(function() {
    updatecart();
});
</script>