<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="main">
	    {% include header.html %}
		<div class="container">
			<div class="row">
                <div class="col-md-8">
                    
                    
                    <article class="post page">
                    
                      <header class="post-header">
                        <h1 class="post-title">{{ page.title }}</h1>
                      </header>
                    
                      <div class="post-content">
                        {{ content }}
                      </div>
                    
                    </article>

                </div>
                <div class="col-md-1"></div>
		    	<div class="col-md-3">page.url</div>
		    </div>
		</div>
	</div>

    {% include footer.html %}

  </body>

</html>