{% include header.html %}

    <div class="content">
        <div class="container">
            <h1>{{ page.title }}</h1>

            {{ content }}

            <div id="shoppingcart">
                <table celpadding="0" cellspacing="0">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th>Quantity</th>
                            <th>&nbsp;&nbsp;Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="6" style="text-align: center;">Your shopping cart is currently empty.</td>
                        </tr>
                    </tbody>
                </table>

                <div>&euro; <span class="carttotal">0.00</span></div>

                <form action="/donate/checkout"><div class="submitbutton"><a href="/donate" class="gray">continue shopping</a><input type="submit" value="Proceed to checkout" /></div></form>

            </div>

            <div style="margin-top: 50px; position: relative; top: 30px;">
                    <ul id="checkout_progress">
                        <li class="current"><span><a href="#">Shopping cart</a></span></li><li><span><span>Checkout</span></span></li><li><span><span>Payment</span></span></li>
                    </ul>
            </div>
        </div>
    </div>


{% include footer.html %}