<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    {% include head-additions.html %}
  </head>
  <body class="{{ page.layout }}">
    <div class="main">
	    {% include header.html %}
		<div class="container">
			<div class="row">
		    	<div class="col-md-8">
		    	    <article class="post page">
                    
                      <header class="post-header">
                        {% include breadcrumbs.html %}
                        <h1 class="post-title">{{ page.title }}</h1>
                      </header>
                    
                      <div class="post-content">
                        <article class="post page">
                        
                          <div class="post-content">
                            {{ content }}

                            <br />

                            <form class="form" method="POST" action="http://formspree.io/jhvanderschee@gmail.com">
                                <input name="_next" value="http://localhost:4000/" type="hidden">
                                <input name="_gotcha" style="display:none" type="text">
                                <input name="_subject" value="New submission!" type="hidden">
                                <div class="row form-group">
                                    <div class="col-sm-6">
                                        <label for="firstname">First name*</label>
                                        <input name="firstname" id="firstname" class="form-control" required="" type="text">
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="lastname">Last name*</label>
                                        <input name="lastname" id="lastname" class="form-control" required="" type="text">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-sm-12">
                                        <label for="email">Email address*</label>
                                        <input name="email" id="email" class="form-control" required="" type="email">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-sm-12">
                                        <label for="address">Address*</label>
                                        <input name="address" id="address" class="form-control" required="" type="email">
                                    </div>
                                </div>
                                <div class="row form-group">
                                        <div class="col-sm-6">
                                            <label for="city">City*</label>
                                            <input name="city" id="city" class="form-control" required="" type="email">
                                        </div>
                                        <div class="col-sm-6">
                                            <label for="postalcode">Postal code*</label>
                                            <input name="postalcode" id="postalcode" class="form-control" required="" type="email">
                                        </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-sm-12">
                                        <label for="message">Message*</label>
                                        <textarea name="message" id="message" cols="30" rows="10" class="form-control" required=""></textarea>
                                    </div>
                                </div>
                                <div class="row rowcheckbox">
                                    <div class="col-sm-12">
                                        <div class="checkbox">
                                            <label><input name="terms" value="I accept the terms and conditions" required="" type="checkbox">I accept the terms and conditions</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" style="text-align: right;">
                                    <a href="/cart" class="btn btn-secondary" style="border-color: transparent!important; text-decoration: underline!important;">Back</a> &nbsp;&nbsp; <input value="Proceed to payment" class="btn btn-primary" type="button" onclick="submitcheckout();">
                                </div>
                            </form>


                            <div style="margin-top: 50px; max-width: 550px; position: relative; top: 30px;">
                                <ul id="checkout_progress">
                                    <li class="past"><span><a href="/cart">Shopping cart</a></span></li><li class="current"><span><a href="#">Checkout</a></span></li><li><span><span>Payment</span></span></li>
                                </ul>   
                            </div>

                        </div>
                        
                        </article>
                      </div>
                    
                    </article>
		    	</div>
		    	<div class="col-md-1"></div>
		    	<div class="col-md-3"></div>
		    </div>
		</div>
	</div>

    {% include footer.html %}

</body>

</html>