{% include header.html %}

    <div class="content">
        <div class="container">

            <h1>{{ page.title }}</h1>

            {{ content }}

            <div id="checkout">
                <form action="/donate/paylink/" method="post" onchange="setAddons(this)">
                    <input name="_gotcha" style="display:none" type="text">
                    <input name="_to" type="hidden" value="joost@vdschee.nl">
                    <input name="_subject" value="New order!" type="hidden">
                    <input name="ordernumber" value="" type="hidden">

                    <div class="half">
                        <label for="firstname">First name</label>
                        <input type="text" name="firstname" required />
                    </div>

                    <div class="half">
                        <label for="lastname">Last name</label>
                        <input type="text" name="lastname" required />
                    </div>

                    <div>
                        <label for="email">Email address</label>
                        <input type="email" name="email" required />
                    </div>

                    <div>
                        <label for="address">Address</label>
                        <input type="text" name="address" required />
                    </div>

                    <div class="half">
                        <label for="zipcode">Zipcode</label>
                        <input type="text" name="zipcode" required />
                    </div>

                    <div class="half">
                        <label for="city">City</label>
                        <input type="text" name="city" required />
                    </div>

                    <div>
                        <label for="shipping">Shipping</label>
                        <select name="shipping" required onchange="if(this.value == 'NL') document.querySelector('input[name=\'country\']').value = 'The Netherlands'; else document.querySelector('input[name=\'country\']').value = ''">
                            <option value=""></option>
                            <option value="NL" data-title="Shipping NL">The Netherlands (+ &euro; 0.00)</option>
                            <option value="EU" data-title="Shipping EU" data-price="7.5">European Union (+ &euro; 7.50)</option>
                            <option value="World" data-title="Shipping World" data-price="15">Rest of the world (+ &euro; 15.00)</option>
                        </select>
                    </div>

                    <div>
                        <label for="country">Country</label>
                        <input type="text" name="country" required />
                    </div>

                    <div>
                        <label>Gift wrapping</label>
                        <label><input type="radio" name="wrapped" value="no" required> Not gift wrapped</label>
                        <label><input type="radio" name="wrapped" data-title="Gift wrapped" value="yes" data-price="2" required> Gift wrapped (+ &euro; 2.00)</label>
                    </div>

                    <div>
                        <label for="message">Message</label>
                        <textarea name="message"></textarea>
                    </div>

                    <div class="submitbutton"><a href="/donate/cart" class="gray">back to cart</a><input type="submit" value="Proceed to payment" onclick="setOrderNumber(this.parentNode.parentNode);" /></div>

                </form>
                <div>
                    <label style="padding-top: 0.8rem;">Payment total</label>
                    <div id="checkoutcalculation">
                        <span>Shopping cart: </span>€ 0.00
                    </div>
                    <p><em>Payments are 100% secure and will be handled by Mollies Paylink service, called Plink. In the next screen you will be redirected to a secure checkout process on useplink.com.</em></p>
                </div>
            </div>


            <div style="margin-top: 50px; position: relative; top: 30px;">
                    <ul id="checkout_progress">
                        <li class="past"><span><a href="/donate/cart/">Shopping cart</a></span></li><li class="current"><span><a href="#">Checkout</a></span></li><li><span><span>Payment</span></span></li>
                    </ul>
            </div>

        </div>
    </div>


{% include footer.html %}