<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    {% include head-additions.html %}    
  </head>
  <body class="{{ page.layout }} no-js">
    <div class="main">
	    {% include header.html %}
		<div class="container">
			<div class="row">
		    	<div class="col-md-8">
		    	    <article class="post page">
                    
                      <header class="post-header">
                        {% include breadcrumbs.html %}
                        <h1 class="post-title">{{ page.title }}</h1>
                      </header>
                    
                      <div class="post-content">
                        {{ content }}
                        <br />
                        <div class="row product-grid">
                            {% assign items = site.products | sort: 'price' %}
                            {% for item in items %}
                            {% assign price_split = item.price | round: 2 | split: "." %}
                            {% assign integral = price_split[0] %}
                            {% assign fractional = price_split[1] | append: "00" | truncate: 2, "" %}
                            {% if fractional == '00' %}{% assign fractional = '-' %}{% endif %}
                            <div class="col-md-4 col-sm-4 col-xs-6">
                                <a href="{{ item.url }}" {% if item.inactive %}style="color: #777777; text-decoration: none; cursor: text;"{% endif %}>
                                <img src="/img/blank.png" style="width: 100%; background: url('https://images.weserv.nl/?url={{ site.url | replace: 'https://','' | replace: 'http://','' }}{{ item.images[0].image }}&w=500&h=350&output=jpg&q=50') center center no-repeat; background-size: cover;" />  
                                {{ item.subtitle }}<br />
                                {% if item.price > 0 %}&euro; {{ integral }}.{{ fractional }}{% else %}free{% endif %}<br />&nbsp;
                                </a>
                            </div>
                        {% endfor %}
                        </div>
                      </div>
                      
                      <!--list all add-ons per feature-->
                    
                    </article>
		    	 </div>
		    </div>
		</div>
	</div>

    {% include footer.html %}

  </body>

</html>